*{padding: 0; margin: 0;}

a{text-decoration: none;}
h3{font:lighter 30px verdana; color: grey; padding: 20px;}

header{width: 100%; height: 50px; background: white; box-shadow: 1px 1px 5px black;}
header section{width: 960px; margin: auto;}
header section h1{font: bold 30px verdana; color: grey; padding: 5px;}
header section #menu{width: 500px; float: right; margin-top: -30px; }
header section #menu a{background: white; padding: 10px; color: grey; font: 16px verdana; transition: border .7s, color .7s; }
header section #menu a:hover{color: black; }

#inicio{width: 100%; height: 400px; background: url(../imagenes/inicio.jpg) no-repeat center; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover;}
#inicio section{padding-top: 100px;}
#inicio section h2{font: bold 40px verdana; color: white; padding: 20px; }
#inicio section p{font: lighter 20px verdana; color: white; margin-bottom: 30px;}
#inicio section a{font: 17px verdana; text-decoration: none; color: white; background: grey; padding: 10px 60px 10px 60px;}
#inicio section a:hover{background: black;}

#articulos{width: 100%; background: white;}
#articulos section{width: 960px;}
#articulos section article{display: inline-block; width: 315px; height: 280px; }
#articulos section article img{width: 100%; height: 230px; }
#articulos section article a{color: grey; padding: 5px; float: left; font: 14px verdana;}
#articulos section:hover article{opacity: .6;}
#articulos section article:hover{opacity: 1;}

#servicios{width: 100%; background: grey; padding: 20px 0px 60px 0px;}
#servicios h3{color: white;}
#servicios section{width: 960px; }
#servicios section a{width: 40%; display: inline-block; color: white; border: 4px solid white; font: 22px verdana; padding: 40px; margin: 2px;}
#servicios section a span{font-size: 40px; float: left;}
#servicios section a:hover{background: white; color: grey;}

#contacto{width: 100%; min-height: 300px; background: url(../imagenes/6.jpg) no-repeat center; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; padding: 30px 0px 30px 0px;}
#contacto section form{width: 960px; background: white; padding: 20px 0px 20px 0px;}
#contacto section form input{width: 90%; height: 40px; font: 17px verdana; border: 4px solid grey; margin-bottom: 5px}
#contacto section form textarea{width: 90%; height: 100px; font: 17px verdana; border: 4px solid grey; margin-bottom: 5px}

footer{width: 100%; background: grey;}
footer p{color: white; text-align: center; padding: 20px; font: 14px verdana lighter;}

#servicios section a, #articulos section article img, #articulos section, #articulos section article, header section #menu a, header section #menu, #inicio section a, #inicio section h2, #inicio section p
{ transition: border .7s, color .7s, width .7s, background .7s, margin .7s, font .7s, opacity .7s, height .7s ;}

