@media screen and (max-width: 980px){
	header section{width: 100%; }
	#articulos section{width: 100%;}
	#articulos section article{width: 49%; height: 350px; }
	#articulos section article img{height: 300px; }
	#servicios section{width: 100%; }
	#servicios section a{width: 40%; font: 22px verdana; padding: 30px; margin: 2px;}
	#contacto section form{width: 100%; }
} 

@media screen and (max-width: 800px){
	header section h1{text-align: center; margin-bottom: 10px;}
	header section #menu{width: 100%; margin: 0; text-align: center;}
	header section #menu a{display: inline-block; border: 1px solid grey;}
	#articulos section article{width: 80%; height: auto; }
	#articulos section article img{height: auto; }
	#servicios section a{width: 90%; font: 22px verdana; padding: 20px; margin: 2px;}
}

@media screen and (max-width: 500px){
	#inicio section h2{font-size: 20px; }
	#inicio section p{font-size: 15px;}
	#articulos section article{width: 100%; }
	#servicios section a{width: 90%; font: 22px verdana; padding: 10px; margin: 2px; border: 1px solid white;}
	}
